@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Main CSS*/
:root {
    --background-color: #19112f;
    --primary-color: #7D66FF;
    --secondary-color: #e46bff;
    --text-color: #fff;
}

.hide-underline {
    text-decoration: none;
}

.text-center {
text-align: center;
}

.text-color {

    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
    font-family: "Anonymous Pro", monospace;
}

h1,
h2, h3 {
    color: var(--text-color);
    font-weight: 600;

}

h1 {
    font-size: 84px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 35px;
}

a {
    list-style-type: none;
}

.project-info {
    font-size: 18px;
}

/* Animations */

@keyframes slide-origin-left {
    from {
        transform: translateX(-1500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slide-origin-right {
    from {
        transform: translateX(1500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slide-origin-bottom {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 41%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes hover-expand {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }

}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Nav */

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 32px;
    border: 3px solid var(--primary-color);
}

.nav-link:hover {
    color:var(--text-color);
    border: 3px solid var(--secondary-color);
}

.nav-link:active {
    color: var(--text-color);
        border: 3px solid var(--secondary-color);
}

/* Header + Hero */

header {
    /*padding: 40px 40px 150px 40px;
    margin: 30px 200px 200px 200px;*/
   
    line-height: 0.5;
    color: var(--text-color);
}

header h1 {
    text-align: center;
    margin-bottom: 35px;
    padding: 20px;
}

header h2 {
    text-align: center;
    margin-bottom:120px;
    padding: 20px;
}

.typewriter {
    margin-inline: auto;
    padding: 2px 0px 4px 0px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2.5px solid;
    color: var(--secondary-color);
    animation: typing 1.5s steps(17) forwards, blink 1s step-end infinite;
}

/* Main */

main {
    margin: 30px;
    padding: 20px;
}

a.nav-link:hover {
    border: 3px solid var(--secondary-color);
}

.btn-outline-custom {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-custom:hover {
    color: var(--secondary-color);
        border-color: var(--secondary-color);
    list-style-type: none;
}

/* Home -- Featured Projects*/



.card {
    background: var(--background-color);
    border: 4px solid var(--primary-color);
    color: var(--text-color);
}

.card-img-top {
    aspect-ratio: 1 / 1;
}

/* CTA */

/*.btn-outline-primary {
    display: flex;
    justify-content: center;
    border: solid 2px white;
}*/

/* Contact CTA */

/*.homepg-contactbtn {
    text-align: center;
    width: 100px;
    padding: 45px;
    border-radius: 27px;
    border: 4px solid var(--primary-color);
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 32px;
}

.homepg-contactbtn:hover {
    border: 4px solid var(--secondary-color);
}*/

/* Services Page */

.nav-link .active {
    background-color: var(--primary-color);
}


/* Resume Page */

.resume {
    animation-name: slide-origin-bottom, fade-in;
        animation-duration: 1.2s;
        animation-fill-mode: both;
    
    }

.resume img {
aspect-ratio: 1 / 1;
}

.resume:hover {
    /*animation-name: hover-expand;
        animation-duration: 1s;
        animation-fill-mode:both;*/
}

/* Contact page */

#home-contact {
    margin: 20px;
    padding: 20px;
}

#home-contact h1 {
    text-align: center;
    margin: 15px;
padding: 15px;
}


.contact-boxes {
    margin: 20px 250px 20px 300px;
    padding: 20px;

}

.contact-box-thankyou, .contact-box-form {
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    font-size: 20px;
    font-weight: 500;
}

.contact-box-thankyou {
    animation-name: slide-origin-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-left: 40px;
width: 408px;
height: 291px;
}

.contact-box-form {
    animation-name: slide-origin-right;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    font-size: 36px;
    margin-left: 400px;
    max-width: 611px;
    max-height: 440px;
width: 611px;
  height: 440px;
}

form {
    max-width: 100%;
    max-height: 100%;
    padding: 12px;
        margin: 10px 0;
        color: var(--text-color);
}

input, textarea {
    background-color: var(--background-color);
    border: solid 1px var(--primary-color);
}

.submit {
background-color: var(--background-color);
color: var(--text-color);
}

.contact-info {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.phone-info, .email-info {
border: solid 1px var(--primary-color);
}

/* Footer */

footer {
    width: 100%;
background-color: #000;
padding: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    color:white;
}

.fa-brands {
    color:white;
}

footer .footer-link {
    text-decoration: none;
}

footer a:hover {
color: var(--secondary-color);
}

.back-to-top-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
}

@media (max-width: 992px) {
    header h1 {
        text-align: center;
        margin: 30px 30px 35px 30px;
        padding: 20px;
        font-size: 72px;
        }
    
    header h2 {
        text-align: center;
        margin: 30px 30px 120px 30px;
        padding: 20px;
        font-size: 40px;
        }

    footer {
        margin: 20px 0px 0px 0px;
        padding: 20px;
        font-size: 16px;
            }
}

@media (max-width: 768px) {
    header h1 {
        text-align: center;
        margin: 30px 30px 35px 30px;
        padding: 20px;
        font-size: 64px;
        }
    
    header h2 {
        text-align: center;
        margin: 30px 30px 120px 30px;
        padding: 20px;
        font-size: 36px;
        }

    .featured__projects--heading {
        display: flex;
        justify-content: center;
    }

    footer {
        margin: 20px 0px 0px 0px;
        padding: 20px;
            }
}