@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: #1B1330;
    --primary-color: #7D66FF;
    --secondary-color: #D77BFF;
    --text-color: #fff;
}

.hide-underline {
    text-decoration: none;
}

body {
background-color: var(--background-color);
margin: 0px;
padding: 0px;
font-family: "Anonymous Pro", monospace;
}

nav {
    display: flex;
    justify-content: center;
}

header {
    color: var(--text-color);
    text-align: center;
    padding-bottom: 30px;
    margin: 50px 200px 15px 200px;
        padding: 20px;
        line-height: 0.5;
}

.typewriter {
margin-inline: auto;
padding: 2px 0px 4px 0px;
overflow: hidden;
white-space: nowrap;
border-right: 2.5px solid;
color: var(--secondary-color);
animation: typing 1.5s steps(17) forwards, blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 41.75%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

h1, .fa-brands {
    color: var(--text-color);
    font-size: 84px;
    font-weight: 600;
}

header h2 {
    font-size: 55px;
        font-weight: 600;
        margin: 30px;
}

a:hover {
    border: 2px solid var(--secondary-color);
    color: var(--text-color)
}

.nav-link {
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px; 
    padding: 18px 26px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
    border: 2px solid var(--primary-color);
}

.homepg-contactbtn {
    box-sizing: border-box;
    max-width: 274px;
    margin-top: 40px;
    padding: 45px;
    border-radius: 27px;
    border: 4px solid var(--primary-color);
    color: var(--text-color);
    background-color: var(--background-color);
    align-items: center;
    font-size: 32px;
}

.homepg-contactbtn:hover {
    border: 4px solid var(--secondary-color);
}

#home-contact h1 {
    text-align: center;
}

p {
    color: var(--text-color);
}

.contact-box-thankyou, .contact-box-form {
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
}

.contact-box-thankyou {
    margin-left: 243px;
width: 408px;
height: 291px;
}

.contact-box-form {
    margin-left: 587px;
width: 408px;
  height: 440px;
}

form {
    color: var(--text-color);
}

.submit {
background-color: var(--background-color);
}

.social-media {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 12px;
}